<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message|%>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @task do |f| %>
  <div>
    <%= f.label :title, t("tasks.title") %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content, t("tasks.content") %>
    <%= f.text_field :content %>
  </div>
    <%= f.submit %>
<% end %>